body{
    font-family: 'Montserrat';
    background: linear-gradient(to bottom, #b7c1ee, #6200ff);
}

.contenedor{
    text-align: center;
    color: red;
}

.en_negritas{
    font-weight: bold;
}

.tamaño{
    margin: 0 auto;
    width: 330px;
    height: 300px;
    border-radius: 17%;
}
